<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR APP</title>
    <link rel="stylesheet" href="../static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&family=Yanone+Kaffeesatz&family=Long+Cang&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="container">
        <h1>IMAGE TO PDF CONVERTER</h1>
        <h4>With OCR recognition...</h4>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="Myfile">
            <button type="submit">Convert</button>
        </form>
    </div>
</body>
</html>